<a href="https://colab.research.google.com/github/RusakovaSA/GB_Python/blob/main/Seminar009.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [8]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [10]:
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0

In [12]:
df.shape

(17000, 9)

In [14]:
df.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
16995,False,False,False,False,False,False,False,False,False
16996,False,False,False,False,False,False,False,False,False
16997,False,False,False,False,False,False,False,False,False
16998,False,False,False,False,False,False,False,False,False
16999,False,False,False,False,False,False,False,False,False

In [15]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [16]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [17]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [23]:
tb = df['total_bedrooms']

In [19]:
tb

0        1283.0
1        1901.0
2         174.0
3         337.0
4         326.0
          ...
16995     394.0
16996     528.0
16997     531.0
16998     552.0
16999     300.0
Name: total_bedrooms, Length: 17000, dtype: float64

In [20]:
tb.sum()

9169984.0

In [21]:
df[['latitude', 'population']]

       latitude  population
0         34.19      1015.0
1         34.40      1129.0
2         33.69       333.0
3         33.64       515.0
4         33.57       624.0
...         ...         ...
16995     40.58       907.0
16996     40.69      1194.0
16997     41.84      1244.0
16998     41.80      1298.0
16999     40.54       806.0

[17000 rows x 2 columns]

In [31]:
new = df[(df['housing_median_age'] < 20) & (df['total_rooms'] <50)]

In [32]:
new

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
288,-116.76,34.14,4.0,42.0,10.0,9.0,3.0,0.5360,42500.0
1820,-117.27,34.17,16.0,30.0,3.0,49.0,8.0,4.6250,250000.0
2907,-117.76,35.22,4.0,18.0,3.0,8.0,6.0,1.6250,275000.0
2990,-117.79,35.21,4.0,2.0,2.0,6.0,2.0,2.3750,137500.0
3049,-117.80,33.63,8.0,32.0,9.0,26.0,11.0,4.1944,270800.0
3275,-117.86,33.67,16.0,20.0,5.0,15.0,5.0,3.8750,450000.0
8232,-118.44,34.04,16.0,18.0,6.0,3.0,4.0,0.5360,350000.0
9260,-119.09,34.22,8.0,40.0,10.0,309.0,16.0,4.0208,52500.0
13747,-122.00,37.00,16.0,32.0,4.0,36.0,5.0,2.6250,137500.0

In [33]:
new.shape

(9, 9)

In [35]:
new['population'].min()

3.0

In [38]:
df[(df['median_income'] < 2)]['median_house_value']

0        66900.0
1        80100.0
2        85700.0
4        65500.0
7        48500.0
          ...
16984    70000.0
16989    58100.0
16990    78300.0
16994    76100.0
16998    85800.0
Name: median_house_value, Length: 2005, dtype: float64

In [41]:
df[df['median_income']==3.1250][['median_house_value', 'median_income']]

       median_house_value  median_income
130               65600.0          3.125
606              187500.0          3.125
952              216500.0          3.125
1134             192200.0          3.125
1262             172700.0          3.125
1563             117200.0          3.125
1909              97600.0          3.125
1999             102300.0          3.125
2011              92800.0          3.125
2896             113600.0          3.125
3254             215000.0          3.125
3412             168600.0          3.125
3838             154100.0          3.125
4647             207100.0          3.125
4665             120300.0          3.125
5360             205600.0          3.125
6040             166300.0          3.125
7072             380400.0          3.125
7577              71300.0          3.125
7945             175900.0          3.125
8236             343800.0          3.125
8358             325000.0          3.125
8950             375000.0          3.125
9128              65000.0          3.125
9647              37500.0          3.125
10136             80800.0          3.125
10237             88500.0          3.125
10267             62500.0          3.125
10383             77500.0          3.125
10407            148600.0          3.125
10848             96400.0          3.125
12149            115600.0          3.125
12225             85600.0          3.125
12294            130600.0          3.125
12654            132500.0          3.125
14754            108000.0          3.125
14905            171100.0          3.125
15058            237500.0          3.125
15571            143900.0          3.125
16248             76100.0          3.125
16563             93400.0          3.125

In [55]:
df[(df['median_house_value'] == df['median_house_value'].min())]['population'].max()

628.0